@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --noactive-button: #f5f4fa;
  --accent-white-color: #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  /*щоб сховати*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/
.container.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*.list {
  padding: 0; 
  margin: 0; 
  list-style: none; 
}*/
.list a {
  /*прийшлося всі transition навішати сюди*/
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list img {
  display: block;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo--blue {
  color: var(--accent-color);
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 93px 0;
  padding: 0;
  list-style: none;
}

.header-nav-item {
  position: relative;
  margin-right: 50px;
  padding: 32px 0;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav a {
  text-decoration: none;
  width: 100%;
}

.header-nav-list a {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list a:hover,
.header-nav-list a:focus {
  color: var(--accent-color);
}

.header-nav-list .header-nav-current {
  color: var(--accent-color);
  background-color: var(--accent-white-color);
}

.header-nav-current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: -1px;
  left: 0;
}

.header-auth-list {
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-auth-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--title-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-auth-list a:hover,
.header-auth-list a:focus {
  color: var(--accent-color);
}

.header-auth-nav a:hover {
  fill: var(--accent-color);
}

.header-auth-list .header-auth-item + .header-auth-item {
  margin-left: 50px;
}

a .header-auth-icon {
  fill: var(--title-text-color);
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover .header-auth-icon,
a:focus .header-auth-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: rgb(47, 48, 58);
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

.footer-contacts {
  display: inline-block;
}

/*.footer-container .footer-list {
    display: block;
  }*/
.footer-contacts .footer-logo {
  display: block;
  color: var(--accent-white-color);
  text-decoration: none;
  margin-bottom: 17px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo--blue {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
  text-decoration: none;
  color: var(--accent-white-color);
}

.footer-list {
  display: inline-block;
  padding-top: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list li {
  margin-bottom: 9px;
  line-height: 24px;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}

/*footer-icons    icons in footer*/
.footer-social {
  display: inline-block;
  margin-left: 70px;
  padding-top: 0;
}

.footer-container h2 {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-icons {
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons:last-child {
  margin-right: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons:hover,
.footer-social-icons:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social--icon {
  fill: var(--accent-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons:hover .footer-social--icon,
.footer-social-icons:focus .footer-social--icon {
  fill: var(--accent-white-color);
}

/*форма підписки for new <div class="footer-form">*/
.footer-form {
  margin-top: 12px;
  margin-left: 93px;
}

.footer-form--text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.footer-form input {
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  background-color: rgb(47, 48, 58);
  color: var(--accent-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--accent-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form button:hover,
.footer-form button:focus {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.footer-form-send {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-form button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: var(--accent-white-color);
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  /*кнопочка відриття модального вікна*/
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  font-size: 14px;
  color: var(--title-text-color);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--noactive-button);
  border-radius: 4px;
  background-size: scale-down;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-item::before:last-child {
  margin-right: 0;
}

.icon-antena::before {
  background-image: url("../images/antenna 1.svg");
}

.icon-clock::before {
  background-image: url("../images/clock 1.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram 1.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut 1.svg");
}

.we-do-section {
  padding-bottom: 94px;
}

.we-do-container {
  width: 1200px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.we-do-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.we-do-item {
  width: 370px;
  margin-right: 30px;
}

.we-do-item:nth-child(3n) {
  margin-right: 0;
}

.we-do-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.we-do-link {
  text-decoration: none;
}

.we-do img {
  width: 370px;
}

.we-do-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*вирівняла текст на ::before*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /*вирівняла текст на ::before*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; /*вирівняла текст на ::before*/
}

.we-do-box::before {
  /*темно-сіра заслонка*/
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 71px;
  background: rgba(47, 48, 58, 0.8);
}

.we-do-box h3 {
  position: absolute;
  padding: 27px 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-container h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-section img {
  width: 270px;
  display: block;
}

.team-item {
  background-color: var(--accent-white-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.team-title {
  padding: 30px 0;
  text-align: center;
}

.team-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.42px;
  color: var(--primary-text-color);
}

.team-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.42px;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

/*team-icons*/
.team-icons {
  margin-right: 10px;
}

.team-icons:last-child {
  margin-right: 0;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
}

a .team-icon--social {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-icon--social,
.team-link:focus .team-icon--social {
  fill: var(--accent-white-color);
}

.customers-section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.customers-item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.customers-item:last-child {
  margin-right: 0;
}

.customer-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border: 1px solid var(--accent-color);
}

.customers-item-link:hover .customer-icon,
.customers-item-link:focus .customer-icon {
  fill: var(--accent-color);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-project {
  display: block;
}

.portfolio-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.portfolio-button li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-project button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  list-style: none;
  cursor: pointer;
  background-color: var(--noactive-button);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project button:hover,
.portfolio-project button:focus {
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  -webkit-box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

.portfolio-button li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*приклади робіт*/
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-item-link {
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--accent-white-color);
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-item-overlay--text::before,
.portfolio-item-link:focus .portfolio-item-overlay--text::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.portfolio-item-link:hover .portfolio-item-overlay--text,
.portfolio-item-link:focus .portfolio-item-overlay--text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-item-text p {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}

.backdrop {
  /*задаємо стилі для заслони*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
  opacity: 0; /*робить заслону прозорою, клікі не проходять*/
  pointer-events: none; /*пропускає клікі*/
}

.modal {
  /*робимо модальне вікно*/
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--accent-white-color);
}

.modal--close {
  /*кнопочка закриття модального вікна*/
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 8px 8px 0;
  background-color: var(--accent-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--close:hover svg,
.modal--close:focus svg {
  fill: var(--accent-color);
}

.modal--close svg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-5%, 15%);
          transform: translate(-5%, 15%);
  width: 18px;
  height: 18px;
  margin: 0;
}

/*форма у модальному вікні*/
.modal-form {
  padding: 40px;
}

.modal-form-title {
  margin: 0 0 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-group {
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form-label span,
.modal-form-textarea span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form-group:focus-within > span {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 12px;
  fill: rgb(33, 33, 33);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.modal-form-input {
  position: relative;
}

.modal-form-input input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.modal-form-input input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form:focus-within > textarea {
  border-color: var(--accent-color);
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form--agreement span {
  padding-top: 5px;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}

.modal-form--agreement {
  position: relative;
  display: inline-block;
  padding-left: 36px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /*клік на весь текст Погодження*/
}

.modal-form--agreement input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal-form-checkbox:checked + .modal-form-border {
  /*.checkbox-icon*/
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--accent-white-color);
}

.modal-form-checkbox:checked + .modal-form-border .modal-form-icon--agreement {
  opacity: 1;
}

.modal-form-checkbox:focus + .modal-form-icon--agreement {
  border-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-border {
  border-color: var(--accent-color);
}

.modal-form-border {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0;
  left: 12px;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}

.modal-form-icon--agreement {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translate(20%, 25%);
          transform: translate(20%, 25%);
}

.modal-form-checkbox--agreement a {
  color: var(--accent-color);
  -webkit-transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox--agreement a:hover {
  text-decoration: none;
}

.modal-form button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: 120px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form button:hover {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.modal-form-submit {
  margin-top: 30px;
}

.modal-form-button {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */