.footer {
  background-color: rgba(47, 48, 58, 1);
  padding: 60px 0;
  display: flex;
}
.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.footer-contacts {
  display: inline-block;
}
.footer-contacts .footer-logo {
  display: block;
  color: var(--accent-white-color);
  text-decoration: none;
  margin-bottom: 17px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo--blue {
  color: var(--accent-color);
}
.footer-address {
  font-style: normal;
  text-decoration: none;
  color: var(--accent-white-color);
}
.footer-list {
  display: inline-block;
  padding-top: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list li {
  margin-bottom: 9px;
  line-height: 24px;
}
.footer-list li:last-child {
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}
/*icons in footer*/
.footer-social {
  display: inline-block;
  margin-left: 70px;
  padding-top: 0;
}
.footer-social h2 {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}
.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-social-icons {
  margin-right: 10px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social--icon {
  fill: var(--accent-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer-social-icons:hover &,
  .footer-social-icons:focus & {
    fill: var(--accent-white-color);
  }
}
/*форма підписки */
.footer-form {
  margin-top: 12px;
  margin-left: 93px;
}
.footer-form--text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.footer-form input {
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  background-color: rgba(47, 48, 58, 1);
  color: var(--accent-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form button {
  display: inline-flex;
  align-content: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--accent-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
    cursor: pointer;
  }
}
.footer-form-send {
  display: inline-flex;
}
.footer-form button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
