:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --noactive-button: #f5f4fa;
  --accent-white-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
